.classHome {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 3%;
  padding: 3%;

}
.classh2{
  text-align: center;
  margin: 30px;
  color: #198754;
  text-shadow: 2px 2px 4px #000000;}
 