.divtable{
  margin-left:18%;
  width: 50%;
}
.hideELZayed {
  overflow-x: hidden;
  
}
.seance {
  text-align: center;
}
.center-cards {
  text-align: center;
  display: block;
  gap: 20px;
}
.icon {
  width: 100px;
}
 
.bigbigicon {
  font-size: large;
}
