.bigone{
    background-color:  #85C1E9;
 
}
.bigonee{
    background-color:  #EC7063 
    ;

}
.bigoneee{
    background-color:#A569BD;
    

}
.bigoneeee{
    background-color:
    #2874A6;

}
.h2cardadmin{
    text-align:center;
   
}
.informationdata{
    color:white;
    font-size:xx-large;
}
