.bigone {
  background-color: #6DC193;
}
.bigonee {
  background-color: #ec7063;
}
.bigoneee {
  background-color: #a569bd;
}
.bigoneeee {
  background-color: #2874a6;
}
.h2cardadmin {
  text-align: center;
}
.informationdata {
  color: white;
  font-size: xx-large;
}
