.sidebarespace {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tableeladmin {
  height: 0px;

  margin-right: 200px;
  margin-left: 200px;
}
.cardqdmindqsh {
  display: inherit;
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    padding-right: 30px;
    padding-left: 83px;
}
.cont-tarki77.bigone {
  flex: 20%;
  margin: 20px 10px;
}
